<md-content layout-padding>
 <h1>Golfer</h1>

  <md-button ui-sref="/"><i class="material-icons">arrow_back</i>Golfers</md-button>

  <md-card flex>
     <md-card-title>
       <md-card-title-text>
         <span class="md-headline">{{golfer.name}}</span>
         <span class="md-subhead">HDCP: {{golfer.handicap}}</span>
       </md-card-title-text>
     </md-card-title>
   </md-card>

   <md-divider></md-divider>
   <h1>Rounds</h1>
   <div ng-if="rounds.length==0">{{golfer.name.split(" ")[0]}} has not entered any rounds yet.</div>
   <div layout="row">
     <md-card ng-repeat="round in rounds" flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{round.courseName}}</span>
            <span class="md-subhead">Tee Time: {{round.teeTime}}</span>
            <span class="md-subhead">Score: {{round.score}}</span>
            <span class="md-subhead">Putts: {{round.putts}}</span>
            <span class="md-subhead">Fairways: {{round.fairways}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="scorecard({ roundID: round.id })">View Scorecard</md-button>
        </md-card-actions>
      </md-card>
    </div>



</md-content>
